body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(229, 238, 229);
    background-color: rgb(85, 48, 48);
}